* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    font-size: 2rem;
}

#root {
    background-color: #fff;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 4px 8px 10px rgba(0,0,0,0.2)
}

.new-item-form {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    height: auto;
}

.new-item-form .form-row {
    display: block;
    width: 100%;
}

.new-item-form .form-row label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

    font-size: 2rem;
}

.new-item-form input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-right: 10px;
}

.new-item-form .Btn {
    width: 100%;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    margin-top: 10px;
    margin-bottom: 10px;
}

.new-item-form .Btn:hover {
    background-color: #218838;
}

/* TODO LIST */

.list {
    display: flex;
    flex-direction: column;

    gap: 10px;

    list-style: none;
}

.list li {
    display: flex;
    gap: 1rem;
    
    margin-left: 1rem;
    
    justify-content: space-between;
}

input[type="checkbox"] {
    width: 25px;
    height: 25px;
    border-radius: 10px;
    cursor: pointer;

}

input[type="checkbox"]:hover {
    transform: scale(1.1);
}

input[type="checkbox"]:checked + span {
    text-decoration: line-through;
    color: #777777;
}

.item-in-list {
    display: flex;
    align-items: center;
    gap: .5rem;

    font-weight: 650;
    font-size: 1.5rem;
}

.btn.btn-danger {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}   